<nav class="navbar bg-success">
  <div class="container d-flex justify-content-center align-items-center">
    <a class="navbar-brand" href="#">
      <i class="bi bi-cart4 text-white" style="font-size: 1.75rem;" ></i>
    </a>
  </div>
</nav>